// Стили для кнопок

.button {
    &__flex {
        width: 140px;
        height: 70px;
        background-color: #C99E71;
        border: none;
        border-radius: 50px;
        color: var(--text-color);
        font-size: var(--smaller-font-size);
        font-weight: var(--font-medium);
        cursor: pointer;
        transition: .3s ease-in-out all;

        &:hover {
            color: #000;
            box-shadow: 1px 5px 3px rgba(0, 0, 0, .1);
            opacity: .9;
        }
    }
}